# Ignore compiled Python files
__pycache__/

# Ignore the build directory for local Python packages
*.egg-info/

# Ignore log files (from nohup or other processes)
*.log

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore SSH keys (DO NOT COMMIT PRIVATE KEYS)
github
github.pub

# Ignore model checkpoints

# PyTorch
*.pth
*.pt
*.ckpt

# ONNX
*.onnx

# OV
*.bin
*.mapping
*.xml

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore .vscode folders
.vscode/

